.pageContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 13vh;
}

.gridItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.leftColumn{
    border-right: 1px solid white;
}

.tab{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}


.pressedTab{
    background-color: rgb(56, 55, 55);
}

.tab:hover{
    background-color: rgba(201, 201, 201, 0.226);
}
