.navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
    margin: 0;
    padding: 0;

    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconContainer{
    padding: 0 2vw 0 0;
    display: flex;
    flex-direction: row;
}

.logo{
    font-family: Valentine;
    cursor: pointer;
    margin: 0;
    margin: 20px 0 0 2vw;
    font-size: 5vh;
    color: var(--textColor);
    padding: 0 10px 0 10px;
}

.iconObject{
    height: 2em;
    width:  2em;
    cursor: pointer;
    margin-left: 2vw;
    color: var(--textColor);
    padding: 10px;
}

.searchClickedClass{
    color: purple;
    border: none;
    z-index: 11;
}

.searchBar{
    position: fixed;
    padding: 10px;
    width: 450px;
    height: calc(2em + 20px);
    z-index: 9;
    background-color: white;
    right: calc(2vw + 2vw + 20px + 1.5em );
    top: 18px;
    color: black;
    border-radius: 25px 25px 25px 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    outline: none;
    animation: long 0.3s forwards;
}

@keyframes long {
    0% {
        width: calc(1.5em + 20px);
        color: transparent;
    }
    100% {
        width: 450px;
        color: gray;
    }
}

.userClickedClass{
    color: purple;
    background-color: white;
    border: solid 2px black;
    border-bottom: 0;
    z-index: 20;
    animation: userFadeIn 0.3s forwards;
}

@keyframes userFadeIn {
    0% {
        opacity: 0;
        border-radius: 50% 50% 50% 50%;
    }
    100% {
        opacity: 1;
        border-radius: 25% 25% 0 0;
    }
}

.userMenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 150px;
    height: 150px;
    opacity: 0;
    background-color: white;
    right: calc(2vw + 2px);
    top: calc( 3em + 14px);
    border-radius: 15% 0 15% 15%;
    animation: fadeIn 0.3s forwards 0.1s;
}

.userMenuBorder{
    position: fixed;
    width: 150px;
    height: 150px;
    padding: 1em;
    border: solid black 2px;
    background-color: white;
    right: calc(2vw);
    opacity: 0;
    top: calc( 3em + 12px);
    border-radius: 15% 0 15% 15%;
    animation: fadeIn 0.3s forwards 0.1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.userText{
    font-family: Geo;
}

.logInTabs{
    font-family: Geo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logInText{
    margin-top: 10px;
    padding: 5px;
    border-style: solid;
    border-color: purple;
    background-color: purple;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.backDrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(240, 248, 255, 0.7);
}

.registerBox{
    padding: 3%;
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 200px);
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid black 2px;
    border-radius: 5% 5% 5% 5%;
    flex-direction: column;
    display: flex;
}

.registerBanner{
    font-family: Geo;
    margin-bottom:8%;
    align-self: center;
}
form{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    font-family: Geo;
}

.formDiv{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

input{
    box-sizing:border-box;
    width: 100%;
    height: 25px;
    padding: 1px;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
}

.confirmButton{
    width: 25px;
    height: 25px;
    margin-left: 2px;
    border-width: 2px;
    background-color: purple;
    border: solid 1px gray;
    border-radius: 25% 50% 50% 25%;
}
.confirmButton:active{
    background-color: rgb(85, 0, 85);
}

.pair{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}


.formDiv input:focus{
    outline: none;
    outline: solid 3px purple;
}
