.focusWrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.itemXButton{
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-family: Geo;
    top: 2px;
    left: -27px;
    z-index: 10;
    cursor: pointer;
}

.collection{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
}

.collectionTitle{
    margin-left: 80px;
}

.collectionItems{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
}

.item{
    flex-shrink: 0;
    background-color: gray;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}


.collectionTitelContainer{

    display: flex;
    align-items: center;
}

.add{
    width: 25px;
    height: 25px;
    background-color: rgb(97, 97, 97);
    padding: calc(50px - 12.5px);
    cursor: pointer;
}


.addImage{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-color: gray;
    cursor: pointer;
}

.addImageWrapper{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: clamp(150px, 200px, 400px);
    width: clamp(150px, 200px, 400px);
    cursor: pointer;
}
.focusBackDrop{
    position: absolute;
    left: 0;
    top:  0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.301);
}

.focusedBox{
    padding: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
    left: calc(50% - 400px);
    z-index: 10;
    width: 800px;
    height: 85%;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.focusItem{
    height: clamp(150px, 200px, 400px);
    width: clamp(150px, 200px, 400px);
    flex-shrink: 0;
}

.focusedTitle{
    width: 90%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.images{
    margin-top: 5%;
    padding-bottom: 20px;
    width: 90%;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.infoGrid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    width: 100%;
}

.infoGridItem{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Geo;
    color: white;
}

.nameTab{
    margin-left: 20px;
    justify-content: left;
}


.bubbleTab{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bubble{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: gray;

}

.bubbleInput{
    width: 30%;
    margin-left: 0;
}

.xButton{
    color: rgb(58, 58, 58);
    margin-left: 5px;
    cursor: pointer;

}

.editButton
{
    padding: 5px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.textWrapper{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.txtInput{
    width: 60%;
    height: 100%;
    font-size: 0.8em;
    font-family: Geo;
    display: flex;
    align-items: center;
    justify-content: right;
}

.editButton path
{
    fill: #ffffff;
}
.editButton:hover{
    background-color: #555555;
}


.binaryValue{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.addSpecButton{
    padding: 5px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addSpecButton:hover{
    background-color: #555555;
}
