
.collection{
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
}

.collectionTitle{
    margin-left: 80px;
}

.collectionItems{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
}

.item{
    flex-shrink: 0;
    background-color: gray;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}


.collectionTitelContainer{

    display: flex;
    align-items: center;
}

.add{
    width: 25px;
    height: 25px;
    background-color: white;
    padding: calc(50px - 12.5px);
    cursor: pointer;
}


.addImage{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-color: gray;
    cursor: pointer;
}

.addImageWrapper{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: clamp(150px, 200px, 400px);
    width: clamp(150px, 200px, 400px);
    cursor: pointer;
}
.focusBackDrop{
    position: absolute;
    left: 0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.301);
}

.focusedBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50;
    left: calc(50% - 400px);
    z-index: 10;
    width: 800px;
    height: 800px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    overflow-x: scroll;
}

.focusItem{
    height: clamp(150px, 200px, 400px);
    width: clamp(150px, 200px, 400px);
    flex-shrink: 0;
}

.focusedTitle{
    margin-top   : 30px;
    margin-bottom: 30px;
}

.images{
    margin-top: 5%;
    width: 90%;
    flex-shrink: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.infoGrid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.infoGridItem{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: Geo;
    color: white;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.topOfGrid{
    border-bottom: 3px solid rgb(197, 197, 197);
}

.bubbleTab{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bubble{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: gray;

}

.xButton{
    color: rgb(58, 58, 58);
    margin-left: 5px;
    cursor: pointer;

}
