.HeroDiv{
    width: 100%;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
}

.heroImage{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.heroText{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 2em;
    width: fit-content;
    z-index: 2;
    cursor: pointer;
}

.slogan{
    margin: 0;
    margin-top: 5vh;
    font-family: Jack;
    font-size: 5em;
    color: var(--textColor);
}

h2{
    align-self: center;
    color: var(--textColor);
    font-family: Cake;
    font-size: 4em;

}
